@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
.mulish-normal {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
  }
  /* default styles */
  *{
    margin: 0 auto;
  }
/* navbar */
.navbar{
    width: 1174px;
    display: flex;
    justify-content: space-around;
    margin-top: 40px ;
    margin-bottom: 100px;
  }
.logo-1{
display: flex;
align-items: center;
width: 280px;
margin-left: 0;
}
.logo-1 h3{
font-size: 36px;
font-weight: 800;
line-height: 3.5rem;
text-align: left;
color: black;
}
.Orange{
    color: rgb(255, 84, 0);
}
.nav-list{
    display:flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    gap: 2.4rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: black;
    margin-right: 0;
} 
/* First Banner Styles */
.first-banner{
    margin: 0 auto;
    border: 2px solid white;
    width: 1170px;
    height: 500px;
    background-image:url(./image/Group\ 13\ \(1\)\ \(1\).png);
    background-color: rgba(19,24,0,0.3);
    border-radius: 8px;
    background-blend-mode: overlay;
}
.explore h3{
    font-size: 36px;
    font-weight:800;
    color: white;
    line-height: 80px;
    text-align: center;
    margin-top: 106px;
}
.explore p{
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 400;
}
.travel-inputs{
width: 800px;
height: 84px;
background-color: rgba(255, 255, 255, 0.3);
margin-top: 64px;
border-radius: 8px;
display: flex;
justify-content: space-around;
align-items: center;
}
select , input , .btn{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    font-size: 16px;
    padding: 0 0.5rem;
    margin: 0 1rem;
    border: none;
    cursor: pointer;
    color: rgba(19, 19, 24, 0.5);
}
.btn{
 background-color:rgb(255, 84, 0) ;
 color: white;
}

/* Second-section styles */
.second-banner{
width: 1170px;
height: 550px;
margin: 0 auto;
display: flex;
margin-top: 100px;
}
.left-second li{
    margin-bottom: 24px;
    color:rgba(19, 19, 24, 0.7) ;
}
.left-second h3{
font-size: 2.8rem;
font-weight: 800;
line-height: 50px;
margin-bottom: 24px;
margin-top: 10px;
}
.left-second p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.7);
    margin-bottom: 32px;
}
.right-second{
margin-left: 55px;
}
/* Third-Banner Styles */
.third-banner{
   width: 1170px;
   margin: 0 auto;
   margin-top: 100px;
}
.third-banner-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.third-banner-header h3{
font-size: 2.8rem;
font-weight: 800;
line-height: 50px;
margin-bottom: 24px;

}
.third-banner-header p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.7);
    margin-bottom: 48px;
    line-height: 26px;
    text-align: center;
}
.third-banner-img-container{
width: 100%;
height: 300px;
filter: brightness(70%);
}
.mal , .indo, .sri , .north, .kashmir, .bd, .ban {
    position: relative;
}
.country{
position: absolute;
top:38%;
left: 40%;
color: rgb(253, 251, 251);
font-size: 28px;
text-align: center;
font-weight: 800;
margin-top: 10px;
}
.kashmir>.country {
    margin-top: 10px;
    margin-left:-25px;
}
.north>.country{
    margin-left: -35px;
}
.bd>.country{
    margin-left: -20px;
}
.first-row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 1rem 0;
    gap: 1rem;
}
.second-row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    margin: 1rem 0;

}
.third-row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
/* footer section styles */
.footer{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 2rem 0;
    margin: 0 auto;
    width: 1440px;
    height: 502px;
   

}
.footer p{
    text-align: center;
    font-size: 16px;
    color: rgba(19, 19, 24, 0.7);
}
.footer .logo{
    margin: 2rem auto;
    display: flex;
    align-items: center;
}
.footer .logo h3{
    font-size: 32px;
   
}
.social{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:2rem auto ;
}
.social i{
    height: 40px;
   font-size: 24px;
}
.footer hr{
    width: 1320px;
   margin-left: 52px;
   margin-bottom: 50px;
}
.ham-burger{
    display: none;
}
/* Responsive for mobile */
@media screen and (max-width: 576px){
    .navbar , .third-banner , .footer{
        width: 100%;
    }
    .nav-list{
        display: none;
    }
    .ham-burger{
        margin-top: 14px;
        display: block;
    }
.ham-burger i{
    font-size: 26px;
}
.logo-1 h3{
    font-size: 26px;
    margin-left: -40px;
}
.logo-1 img , .logo img{
    width: 40px;
}
.logo-1 , .logo{
margin-left: -20px;
}
.first-banner{
    width: 335px;
    height: 485px;
    margin-top: -80px;
}
.explore h3{
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
    font-weight: 800;
}
.explore p{
    font-size: 14px;
    margin-top: -18px;
    line-height: 21px;
}
.travel-inputs{
    width: 287px;
    height: 288px;
    margin-top: 20px;
    flex-direction: column;
}
.travel-inputs input , .travel-inputs select , .travel-inputs button{
width: 250px;
}
.second-banner{
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
    margin-left: 20px;
}
.left-second h3{
    font-size: 20px;
}
.left-second p , .third-banner-header p{
    font-size: 14px;
    margin-top: -20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.left-second li{
    margin-left: -20px;
    font-size: 14px;
    margin-top: -10px;
    margin-right: 20px;
}
.left-second .btn{
    margin-left: 5px;
    margin-bottom: 20px;
}
.right-second{
  margin-left: -6px;
    align-items: center;
}
.right-second img{
    width: 335px;
    height: 342px;
}
.third-banner-header h3{
    font-size: 26px;
    margin-top: 200px;
}
.third-banner-img-container{
    display: grid;
    grid-template-columns: 1fr;
}
.first-row img , .second-row img , .third-row img{
    width: 335px;
    height: 176px;
}
.first-row , .second-row , .third-row{
    grid-template-columns: 1fr;
}
.country{
    font-size: 20px;
}
.logo h3{
margin-left: -60px;
}
.logo{
    align-items: center;
}
.footer p{
    font-size: 14px;
    margin-right: 20px;
}
.footer hr{
    width: 300px;
   align-items: center;
   margin-bottom: 20px;
}
}